<div class="container between">
    <h2 class="text-center text-uppercase">@Localizer["about us"]</h2>
    <div class="between"></div>
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">@Localizer["featurette1"]</h2>
            <p class="lead">@Localizer["featurette1_m"]</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="~/img/pool-foto5.jpg" alt="Image 1 of swimming pool about us">
        </div>
    </div>
    <hr class="featurette-divider between">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">@Localizer["featurette2"]</h2>
            <p class="lead">@Localizer["featurette2_m"]</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="~/img/pool-shapes.jpg" alt="Image 2 of swimming pool about us">
        </div>
    </div>
    <hr class="featurette-divider between">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">@Localizer["featurette3"]</h2>
            <p class="lead">@Localizer["featurette3_m"]</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="~/img/pool-foto10.jpg" alt="Image 3 of swimming pool about us">
        </div>
    </div>
    <hr class="featurette-divider between">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">@Localizer["featurette4"]</h2>
            <p class="lead">@Localizer["featurette4_m"]</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="~/img/pool-foto4.jpg" alt="Image 4 of swimming pool about us">
        </div>
    </div>
    <hr class="featurette-divider between">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">@Localizer["featurette5"]</h2>
            <p class="lead">@Localizer["featurette5_m"]</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="~/img/pool-foto9.jpg" alt="Image 5 of swimming pool about us">
        </div>
    </div>
    <hr class="featurette-divider between">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">@Localizer["featurette6"]</h2>
            <p class="lead">@Localizer["featurette6_m"]</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="~/img/reformas/3.JPG" alt="Image 6 of swimming REFORMAS">
        </div>
    </div>
    <hr class="featurette-divider between">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">@Localizer["featurette7"]</h2>
            <p class="lead">@Localizer["featurette7_m"]</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="~/img/reformas/4.JPG" alt="Image 7 of swimming REFORMAS">
        </div>
    </div>
    <hr class="featurette-divider between">
    <div class="text-center">
        <a class="btn btn-info between" asp-area="" asp-controller="Home" asp-action="Order" role="button">@Localizer["Order"]</a>
    </div>
</div>

